$primary:       $blue !default;
$secondary:     $gray-200 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $gray-900 !default;

$yiq-contrasted-threshold: 200 !default;

// Dropdowns

$dropdown-border-color:             rgba($black,.1) !default;
$dropdown-divider-bg:               rgba($black,.1) !default;

// Navs

$nav-link-disabled-color:           $gray-400 !default;

$nav-tabs-border-color:             $dropdown-border-color !default;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color !default;

// Navbar

$navbar-dark-color:                 rgba($white,.7) !default;
$navbar-dark-hover-color:           $white !default;

// Pagination

$pagination-color:                  $gray-600 !default;
$pagination-border-color:           $nav-tabs-border-color !default;

$pagination-active-border-color:    darken($primary, 5%) !default;

$pagination-disabled-color:         $gray-200 !default;

// Progress bars

$progress-bg:                       $gray-400 !default;
$progress-bar-color:                $white !default;

// List group

$list-group-disabled-bg:            $gray-200 !default;

// Close

$close-color:                       $gray-600 !default;
$close-text-shadow:                 none !default;