$body-bg: #00ff00 !default;

// Typography Variables
$font-family-sans-serif: Roboto, sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !default;
$font-family-base: $font-family-sans-serif !default;

// KEY // Color system
$gray-900: #667079 !default;
$headings-color: #667079 !default;
