//
// Color system
//

$white:    #fff !default;
$gray-800: #343a40 !default;
$gray-900: #1a1a1a !default;
$red:     #d9534f !default;
$yellow:  #f0ad4e !default;
$green:   #4BBF73 !default;
$cyan:    #1F9BCF !default;

$primary:       $gray-900 !default;
$secondary:     $white !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $white !default;
$dark:          $gray-800 !default;

