// Minty 4.5.0
// Bootswatch

//
// Color system
//
$primary:       #78C2AD !default;
$secondary:     #F3969A !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$yiq-contrasted-threshold: 250 !default;

// Body

$body-color:                $gray-600 !default;

// Components
$headings-color:              $gray-700 !default;
