@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

$font-family-sans-serif: 'Cabin Sketch', Roboto, sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !default;
$font-family-base: $font-family-sans-serif !default;


$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-weight-lighter:         lighter !default;

$h1-font-size:                $font-size-base * 4 !default;
$h2-font-size:                $font-size-base * 3 !default;

$lead-font-size:              $font-size-base * 1.75 !default;
$lead-font-weight:            $font-weight-lighter !default;