// Color system
//

$white:    #fff !default;
$gray-100: #EBEBEB !default;
$gray-200: #4E5D6C !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #DF691A !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #f0ad4e !default;
$yellow:  #f0ad4e !default;
$green:   #5cb85c !default;
$teal:    #20c997 !default;
$cyan:    #5bc0de !default;


$primary:       $blue;
$secondary:     $gray-600; 
$success:       $green; 
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-800;
$dark:          $gray-400;

$yiq-contrasted-threshold:  175 !default;


// Body

$body-bg:       #060606 !default;
$body-color:    $gray-400 !default;

$headings-color:         $white !default;

// Tables

$table-color:                   $white !default;
$table-accent-bg:               rgba($white,.05) !default;
$table-hover-bg:                rgba($white,.075) !default;

$table-border-color:            $gray-700 !default;

$table-dark-bg:               $gray-500 !default;
$table-dark-border-color:     darken($gray-500, 7.5%) !default;

// Forms

$input-disabled-bg:              $gray-400 !default;

$input-border-color:             $white !default;

$input-group-addon-color:           $white !default;
$input-group-addon-bg:              $gray-700 !default;
$input-group-addon-border-color:    transparent !default;

$custom-file-color:                 $white !default;
$custom-file-border-color:          $gray-700 !default;

// Dropdowns

$dropdown-bg:                    $gray-700 !default;
$dropdown-divider-bg:            $gray-800 !default;

$dropdown-link-color:            $white !default;
$dropdown-link-hover-color:      $white !default;
$dropdown-link-hover-bg:         $primary !default;

// Navs

$nav-tabs-border-color:                       $table-border-color !default;
$nav-tabs-link-hover-border-color:            $nav-tabs-border-color !default;
$nav-tabs-link-active-color:                  $white !default;
$nav-tabs-link-active-bg:                     $nav-tabs-border-color !default;
$nav-tabs-link-active-border-color:           $nav-tabs-border-color !default;

// Navbar

$navbar-dark-hover-color:           $white !default;

// Pagination

$pagination-color:                     $white !default;
$pagination-bg:                        $gray-700 !default;
$pagination-border-color:              transparent !default;

$pagination-hover-color:               $white !default;
$pagination-hover-bg:                  $primary !default;
$pagination-hover-border-color:        $pagination-border-color !default;

$pagination-disabled-bg:               $pagination-bg !default;
$pagination-disabled-border-color:     $pagination-border-color !default;


// Jumbotron

$jumbotron-bg:                   $gray-700 !default;

// Cards

$card-bg:                  $gray-700 !default;

// Tooltips

$tooltip-bg:                  $gray-700 !default;
$tooltip-opacity:             1 !default;

// Popovers

$popover-bg:                          $gray-700 !default;

// Toasts

$toast-color:                       $white !default;
$toast-background-color:            $gray-800 !default;
$toast-border-color:                $gray-700 !default;

$toast-header-color:                $body-color !default;
$toast-header-background-color:     $toast-background-color !default;
$toast-header-border-color:         $toast-border-color !default;

// Modals

$modal-content-bg:               $gray-800 !default;

$modal-header-border-color:   $gray-700 !default;

// Progress bars

$progress-bg:                   $gray-700 !default;

// List group

$list-group-bg:                  $gray-800 !default;
$list-group-border-color:        $gray-700 !default;

$list-group-hover-bg:                 $primary !default;

$list-group-disabled-bg:         $gray-700 !default;

$list-group-action-active-bg:         $primary !default;

// Breadcrumbs

$breadcrumb-bg:                 $gray-700 !default;

// Close

$close-color:                 $white !default;
$close-text-shadow:           none !default;

// Code

$pre-color:                         inherit !default;

