$primary:       $blue !default;
$secondary:     $gray-500 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $gray-800 !default;

$yiq-contrasted-threshold: 200 !default;

// Body

$body-color:                $gray-600 !default;

// Links

$link-color:                $info !default;

$headings-color:              $gray-900 !default;

// Navbar

$navbar-dark-color:                 rgba($white,.75) !default;
$navbar-dark-hover-color:           $white !default;

$navbar-light-color:                rgba($black,.4) !default;
$navbar-light-hover-color:          $info !default;
$navbar-light-active-color:         $info !default;
