// Fonts

$headings-font-family:   "News Cycle", "Arial Narrow Bold", sans-serif !default;
$headings-font-weight:        700 !default;
$headings-line-height:        1.1 !default;

// Buttons

$input-btn-padding-x:         1rem !default;
