
$primary:       $blue;
$secondary:     $gray-800;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;


$body-color:    $gray-800;

$navbar-dark-hover-color:           rgba($white,1);

$navbar-light-hover-color:          rgba($black,.9);