// Fonts

$font-family-sans-serif:      "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-size-base:              0.9375rem !default;

$headings-font-weight:        300 !default;

// Buttons

$input-btn-padding-x:         0.5rem !default;

$btn-font-weight:             300 !default;

// Jumbotron

$jumbotron-padding:                 4rem !default;

// Cards

$card-inner-border-radius:          0px !default;

// Badges

$badge-font-weight:                 300 !default;
$badge-padding-x:                   1rem !default;
