$font-family-sans-serif: "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;


$font-family-sans-serif: "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif !default;
$font-size: 0.9375rem;
$font-weight: 400;
$line-height: 1.5;

$font-size-base: 0.9375rem !default;

$headings-font-weight:   300 !default;

$enable-rounded: false !default;

$alert-border-width:                0 !default;

// Progress bars

$progress-height:               0.5rem !default;
